@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url ("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url ("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: regular;
  color: #242424;
  background-color: #fbf7f4;
}

.page-header {
  color: #242424;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.main-index {
  color: #000000;
  background-image: url("images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.reasons-text {
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.reasons-causes {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.reasons-list {
  text-align: center;
}

.reasons-item {
  width: 400px;
  height: 384px;
  background-color: white;
}

.reasons-item:first-child,
.reasons-item-item:nth-child(2) {
  color: #ffffff;
  background-color: #83B3D3;
}

.reasons-item:first-child(3),
.reasons-item-item:nth-child(5) {
  background-color:rgba(131, 179, 211, 0.12);
}

.reasons-item-item:first-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description{
  text-align: center;
}



.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.appointment-button {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.mailing-list-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.page-footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
