@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2")format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2")format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.img {
  max-width: 100%;
  object-fit: contain;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navigation-logo {
  position: relative;
  z-index: 1;
}

.main-container {
  flex-grow: 1;
  margin-top: -8px;
}

.page-header-logo {
  padding-right: 30px;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 345px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;
  padding: 14px 0;
  margin-left: auto;
  align-self: start;
}

.navigation-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 42px;
  margin: 0;
  padding: 0;
}

.navigation-search:hover .navigation-icon {
  fill: #756257;
}

.navigation-search:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-favorites {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 42px;
  margin: 0;
  padding: 0;
}

.navigation-favorites:hover .navigation-icon {
  fill: #756257;
}

.navigation-favorites:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-favorites-likes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  left: 24px;
  bottom: 15px;
  font-size: 10px;
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 10px;
  z-index: 1;
}

.navigation-favorites:active .navigation-favorites-likes {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-maps {
  display: block;
  margin: 0;
  margin-left: 20px;
  padding: 10px 9px 6px 10px;
  box-sizing: border-box;
  width: 160px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
}

.navigation-maps:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.navigation-maps:hover {
  background-color: #615048;
}

.navigation-maps:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link[href]:hover {
  color: #756257;
}

.navigation-link[href]:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  right: 15px;
  bottom: 0;
  left: 15px;
  height: 2px;
  background-color: #756257;
}

.intro-image {
  display: block;
  margin: 0 auto;
}

.intro {
  position: relative;
  background-color: #89b7d5;
  background-image: url("../images/index-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 80px;
}

.intro::before {
  position: absolute;
  background-image: url("../images/main-logo.svg");
  background-repeat: no-repeat;
  bottom: -1px;
  left: 0;
  width: 1200px;
  height: 57px;
  content: "";
}

.reasons {
  text-align: center;
  padding-top: 63px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons-text {
  margin: 0 auto;
  margin-bottom: 31px;
  width: 700px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-number {
  display: block;
  margin: 0;
  margin-bottom: 30px;
}

.reasons-description {
  margin: 0;
}

.reasons-causes {
  margin: 0;
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.city {
  box-sizing: border-box;
  width: 400px;
  margin: 0 auto;
  padding: 97px 90px 87px 90px;
  background-color: #83b3d3;
}

.reasons-item-city {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
}

.bridge {
  box-sizing: border-box;
  width: 400px;
  margin: 0 auto;
  padding: 97px 90px 87px 90px;
}

.reasons-item-bridge {
  display: flex;
  color: #ffffff;
  background-color: #83b3d3;
}

.reasons-item-square {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 97px 75px 108px 75px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.reasons-item-road {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 97px 75px 108px 75px;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.reasons-item-tourists {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 97px 75px 108px 75px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.reasons-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item {
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  margin: 0 auto;
  padding: 90px 75px 91px 75px;
  list-style: none;
}

.advantages-item:nth-child(1n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(255, 255, 255, 1);
}

.advantages-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  position: relative;
  margin: 0 auto;
  padding-top: 93px;
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.advantages-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 74px;
  height: 74px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-housing.advantages-title::before {
  background-image: url("../images/icon/icon-1.svg");
  background-repeat: no-repeat;
}

.advantages-food.advantages-title::before {
  background-image: url("../images/icon/icon-2.svg");
  background-repeat: no-repeat;
}

.advantages-souvenirs.advantages-title::before {
  background-image: url("../images/icon/icon-3.svg");
  background-repeat: no-repeat;
}

.advantages-description {
  margin: 0 auto;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.appointment-title {
  margin: 0 auto;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.appointment {
  margin: 0 auto;
  text-align: center;
  padding: 91px 240px 93px 240px;
}

.appointment-button {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px;
  width: 575px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  background-color: #756257;
  color: #ffffff;
}

.appointment-button:hover {
  background-color: #615048;
}

.appointment-button:focus-visible {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.appointment-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.appointment-dates {
  margin: 0;
  margin-bottom: 59px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.mailing-list {
  display: block;
  padding: 94px 200px 94px 200px;
  background-color: #89b7d5;
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.mailing-list-title {
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing-information {
  margin: 0 auto;
  margin-bottom: 49px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.mailing-list-form {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.field {
  display: block;
  font: inherit;
  width: 600px;
  height: 60px;
  box-sizing: border-box;
  padding: 20px 19px 20px 22px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus-visible {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.field-error {
  border-color: #ff5757;
}

.mailing-list-button {
  width: 200px;
  padding: 17px 10px 17px 10px;
  border: none;
  font: inherit;
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.mailing-list-button:hover {
  background-color: #68a2ca;
}

.mailing-list-button:focus-visible {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
  border-radius: 0 10px 10px 0;
}

.mailing-list-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  display: flex;
  margin: 0;
  padding: 28px 72px 30px 72px;
  align-items: center;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  list-style: none;
}

.footer-social-link:hover svg {
  fill: #68a2ca;
}

.footer-social-link:focus-visible {
  fill: #68a2ca;
  border-radius: 10px;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.footer-social-link:active {
  opacity: 0.3;
}

.footer-social {
  display: flex;
  flex-wrap: nowrap;
  width: 107px;
  margin: 0;
  margin-right: 236px;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  margin-right: 3px;
  margin-bottom: 6px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.page-footer-phone-link {
  width: 340px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 15px;
}

.page-footer-phone-link:hover {
  color: #756257;
}

.page-footer-phone-link:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  color: #756257;
  border-radius: 10px;
  outline: none;
}

.page-footer-phone-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.page-footer-logo {
  margin-left: auto;
  width: 124px;
  box-sizing: border-box;
  outline: none;
}

.footer-logo {
  padding: 15px;
}

.page-footer-logo:hover svg {
  fill: #756257;
}

.page-footer-logo:focus-visible svg {
  fill: #756257;
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.page-footer-logo:active {
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  z-index: 2;
}

.modal-container-open {
  display: flex;
}

.modal {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding-right: 70px;
  padding-top: 62px;
  padding-left: 70px;
  padding-bottom: 70px;
}

.modal-auth {
  width: 715px;
  box-sizing: border-box;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 32px;
  padding-right: 70px;
}

.appointment-form-auth {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.arrival-date {
  display: grid;
  margin: 0;
  margin-bottom: 11px;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  grid-template-columns: 155px 420px;
}

.dates {
  width: 420px;
  height: 50px;
  padding-left: 19px;
  padding-right: 50px;
  position: relative;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  border: none;
}

svg.calendar {
  position: absolute;
  top: 20px;
  right: 19px;
}

.dates:hover {
  background-color: #e6e6e6;
}

.dates:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.dates:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
  box-sizing: border-box;
}

.people-adults {
  margin: 0;
  margin-right: 73px;
}

.number-of-people {
  display: flex;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  width: 133px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  border: none;
  padding: 0 50px;
}

.appointment-date-adults {
  width: 155px;
}

.comments {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
  margin-top: 0;
  grid-column: -2 / -1;
}

.comments-error {
  color: rgba(255, 87, 87, 1);
}

.people {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.people-child {
  position: relative;
  padding-left: 60px;
  padding-right: 50px;
}

.number-child {
  position: relative;
}

.modal-action {
  display: grid;
  width: 25px;
  height: 25px;
  place-items: center;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
}

.modal-action:hover path {
  color: #000000;
  opacity: 1;
}

.modal-action:focus {

  border: 3px solid #83b3d3;

  border-radius: 4px;
}

.modal-action:focus path {
  opacity: 1;
}

.modal-action:focus-visible {
  outline: none;
}

.modal-action:active path {
  opacity: 0.2;
}

.button-minus {
  position: absolute;
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 14px;
  left: 13px;
  content: "";
}

.button-plus {
  position: absolute;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 14px;
  right: 13px;
  content: "";
}

.tooltip {
  position: absolute;
  top: 7px;
  right: 14px;
}

.tooltip-toggle {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  background: #83b3d3;
  border-radius: 50%;
  cursor: pointer;
  background-position: center;
}

.tooltip-toggle:hover {
  background: #68a2ca;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 18px;
  padding-top: 15px;
  padding-left: 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  top: calc(100% + 10px);
  box-sizing: border-box;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/arrow-tooltip.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  left: calc(50% - 10px);
  z-index: 20;
}

.button-modal {
  padding: 0;
  padding-right: 15px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  width: 575px;
  text-transform: uppercase;
  background: #83b3d3;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.button-modal:hover {
  background: #68a2ca;
}

.button-modal:focus-visible {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.button-modal:active {
  background-color: #68a2ca;
  color: #ffffffa4;
}

.main-inner {
  margin-top: -8px;
}

.intro-inner {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 26px 72px 67px 71px;
  background-color: #89b7d5;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0 auto;
  margin-bottom: 5px;
  padding-top: 7px;
  font-weight: 400;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
}

.breadcrumbs-item:not(:last-of-type) {
  position: relative;
  padding-right: 9px;
  margin-right: 5px;
}

.breadcrumbs-item:not(:last-of-type)::before {
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  height: 8px;
  top: 7px;
  right: 0;
  background-image: url("../images/right-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-main {
  background-image: url("../images/home2.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  box-sizing: border-box;
  padding: 6px 8px 9px 8px;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
}

.breadcrumbs-link-hotel {
  padding: 2px 8px 3px 8px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3)
}

.catalog-filter {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  border: none;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 30px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.toggle-min {
  top: -8px;
  right: 208px;
}

.toggle-max {
  top: -8px;
  right: -7px;
}

.range-toggle:focus-visible {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.range-toggle:active {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  width: 287px;
  margin: 0;
  margin-bottom: 30px;
}

.catalog-filter-label {
  position: absolute;
  display: flex;
  border-radius: 4px;
  font: inherit;
  color: rgba(255, 255, 255, 1);
  opacity: 0.3;
  max-width: 100%;
  overflow: auto;
}

.catalog-filter-label-from {
  right: 160px;
  top: 10px;
}

.catalog-filter-label-before {
  right: 11px;
  top: 10px;
}

.catalog-filter-label:not(:last-of-type) {
  margin: 0;
}

.range-input {
  box-sizing: border-box;
  width: 145px;
  padding: 10px 20px;
  padding-right: 30px;
  font: inherit;
  text-align: left;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input:focus-visible {
  position: relative;
  box-shadow: 0 0 0 3px #83b3d3, inset 0 0 0 3px #83b3d3;
  outline: none;
  z-index: 1;
}

.range-input:active {
  background-color: #756257;
}

.buttons-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 50px;
  justify-content: center;
}

.apply {
  width: 160px;
  padding: 14px;
  margin-bottom: 20px;
  font: inherit;
  align-content: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.apply:hover {
  background-color: #68a2ca;
  border-radius: 4px;
}

.apply:focus-visible {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #ffffff;
  outline: none;
  border-radius: 4px;
  color: #ffffff;
}

.apply:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  border-radius: 4px;
}

.reset {
  width: 100px;
  margin: 0;
  padding: 5px;
  font: inherit;
  align-content: center;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
  color: #ffffff;
}

.reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-list {
  margin: auto;
  padding: 0;
  list-style: none;
}

.catalog-filter-list:not(:last-of-type) {
  margin-bottom: 0;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(1n) {
  margin-right: 80px;
}

.catalog-filter-group:nth-child(2n) {
  margin-right: 169px;
}

.catalog-filter-group:nth-child(3n) {
  margin-right: 81px;
}

.infrastructure-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[input="checkbox"]:checked+.control-mark {
  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  position: absolute;
  top: 11px;
  left: 3px;
  width: 7px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked+.control-mark::after {
  position: absolute;
  top: 9px;
  left: 6px;
  width: 13px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
  transform: rotate(-45deg);
}

.control-input:hover~.control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.control-input:focus-visible~.control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 2px #83b3d3;
  border-radius: 4px;
  outline: none;
}

.control-input:active~.control-mark {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.control-input-checkbox:focus-visible~.control-mark {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 2px #83b3d3;
  border-radius: 4px;
  outline: none;
}

.control-input-checkbox:hover~.control-mark {
  background-color: rgba(255, 255, 255, 1);
}

.control-input-checkbox:active~.control-mark {
  background-color: rgba(255, 255, 255, 1);
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.submit {
  background-color: #83b3d3;
}

.cards {
  width: 1056px;
  margin: 0 auto;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 53px;
  color: #333333;
  background-color: #ffffff;
}

.hotels-found {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  width: 287px;
  height: 48px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 12px 20px 13px 20px;
  border: 2px solid #e6e6e6;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  -webkit-appearance: none;
  border-radius: 4px;
  border: 2px solid #e6e6e6;
}

.select-control:hover {
  border: 2px solid #83b3d3;
  outline: none;
  border-radius: 4px;
}

.select-control:focus-visible {
  border: 2px solid #83b3d3;
  outline: none;
  border-radius: 4px;
}

.select-control:active {
  color: rgba(51, 51, 51, 0.3);
  outline: none;
  border-radius: 4px;
}

.sorting-type {
  display: block;
  margin-left: 192px;
  padding: 0;
}

.show {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.card-grid-toggle {
  display: flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;

}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.card-grid-toggle:nth-child(3n) {
  margin-right: 0;
}

.card-grid-toggle[href]:hover {
  border: 2px solid #83b3d3;
  outline: none;
  border-radius: 4px;
}

.card-grid-toggle:focus-visible {
  border: 2px solid #83b3d3;
  outline: none;
  border-radius: 4px;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.catalog-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  row-gap: 10px;
  column-gap: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  list-style: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  flex-grow: 1;
}

.hotel-card-link {
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-link:hover {
  opacity: 0.6;
}

.hotel-card-link:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.hotel-card-link:active {
  opacity: 0.3;
}

.hotel-card-image {
  display: block;
  margin: 0;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;
  color: #000000;
  text-decoration: none;
}

.name-hotel {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
}

.hotel-card-price {
  display: grid;
  grid-template-columns: 133px 143px;
  row-gap: 0;
  column-gap: 27px;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.buttons {
  display: flex;
  margin-bottom: 14px;
  justify-content: space-between;
}

.button-more {
  margin: 0;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 4px;
  width: 133px;
  background-color: #756257;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button-more:hover {
  background-color: #615048;
  color: #ffffff;
}

.button-more:focus-visible {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites {
  margin: 0;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 4px;
  width: 140px;
  background-color: #83b3d3;
  color: #ffffff;
  border: 1px solid transparent;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-favorites:hover {
  background-color: #68a2ca;
  border: 1px solid #756257;
  color: #ffffff;
}

.button-favorites:focus-visible {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
  border-radius: 4px;
}

.button-favorites:active {
  border: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3);
}

.button-three .button-favorites {
  border: none;
  border: 1px solid transparent;
  background-color: #7db54f;
}

.button-three:focus-visible {
  box-shadow: 0 0 0 3px #756257;
  outline: none;
  border-radius: 4px;
  background-color: #6c9e42;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.rating-rate {
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 4px;
  margin: 0;
  padding: 9px 2px 10px 2px;
  width: 156px;
  height: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.rating-stars {
  height: 17px;
  background-image: url("../images/star-1.svg");
  background-repeat: space;
  background-size: 18px 18px;
}

.rating-stars-1 {
  width: 86px;
}

.rating-stars-2 {
  width: 65px;
}

.rating-stars-3 {
  width: 40px;
}

.rating-stars-4 {
  width: 40px;
}

.button-load-more {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 20px;
  width: 620px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-load-more:hover {
  background-color: #68a2ca;
}

.button-load-more:focus-visible {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
  border-radius: 4px;
}

.button-load-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.decorative-lines-button {
  width: 1055px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pagination-container {
  display: flex;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 23px;
  align-items: center;
  list-style: none;
}

.pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 14px 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
  border-radius: 4px;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-selection {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  width: 386px;
  padding-top: 3px;
  padding-bottom: 4px;
  border: none;
}

.text-number {
  margin: 0;
  margin-top: 16px;
  margin-right: 51px;
}

.select-control-number {
  width: 160px;
  margin: 0 auto;
  padding: 16px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  -webkit-appearance: none;
  border: 2px solid #e6e6e6;
}

.select-control-number:hover {
  border: 2px solid #83b3d3;
  outline: none;
  border-radius: 4px;
}

.select-control-number:focus-visible {
  border: 2px solid #83b3d3;
  outline: none;
  border-radius: 4px;
}

.select-control-number:active {
  color: rgba(51, 51, 51, 0.3);
  outline: none;
  border-radius: 4px;
}

.pagination-item {
  display: flex;
  width: 55px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.mailing-list-inner {
  display: block;
  margin: 0 auto;
  padding: 50px 20px 140px 20px;
  align-items: center;
  background-color: #ffffff
}


.mailing-list-title-inner {
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 46px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.mailing-information-inner {
  margin: 0 auto;
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
